#image_panel {
  justify-content: space-between;
  align-items: center;
}

#picture {
  margin: 5px 0px 5px 0px;
}

.image {
  width: 350px;
  height: 350px;
}

.gallery_image {
  height: 480px;
  flex: 0 0 99%;
  width: 600px;
}

.image_title {
  margin: 5px 0px 5px 0px;
}

.img_layout {
  justify-content: space-between;
  background-color: white;
  display: flex;
  flex-direction: row;
  box-shadow: -0.2em 0 .6em black;
  width: auto;
  height: auto;
  margin: 0;
  margin-left: 20px;
  margin-right: 20px;
}

.cupid {
  background-color: burlywood;
  margin-left: 140px;
}
