html {
  overflow: -moz-scrollbars-vertical;
}

body {
  background: lightblue;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #3c3d3f;
  text-align: left;
  max-width: 1000px;
  margin: auto;
}

header {
  display: flex;
  margin-top: 36px;
  margin-bottom: 36px;
  height: 64px;
  justify-content: flex-end;
}

header #hub {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr 1fr 1fr;
}

header #title {
  color: black;
  text-decoration: none;
  margin: 0px;
  width: 100%;
  font-size: 100px;
  font-weight: bold;
  text-align: center;
}

.header_btn {
  text-decoration: none;
  font-size: 16px;
  margin-left: 5px;
  margin-right: 5px;
}

.icon {
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
  cursor: pointer;
  flex: 2 0 50px;
}

footer {
  margin-top: 20px;
  text-align: center;
}

.alert {
  color: red;
}

.column_flex_panel {
  display: flex;
  flex-direction: column;
}

.row_flex_panel {
  display: flex;
  flex-direction: row;
}

.combo-label {
  display: block;
  font-size: 20px;
  font-weight: 100;
  margin-bottom: 0.25em;
}

#font {
  font-weight: bolder;
  font-size: large;
  font-family: "Courier New", Courier, monospace;
}

.font {
  font-weight: bold;
  font-size: medium;
  font-family: "Courier New", Courier, monospace;
}

.credits {
  padding-bottom: 30px;
}
