#filters {
  margin-top: 50px;
}

.profile_info{
  max-height: 400px;
  overflow: scroll;
  background-color: aliceblue;
  border-left: 2px black solid;
  padding-left: 2px;
  padding-right: 2px;
}

.match_layout {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  text-align: center;
  font-weight: bold;
  font-size: large;
  font-family: "Courier New", Courier, monospace;
}

.icon {
  margin-left: 25px;
  margin-top: 140px;
  width: 100px;
  height: 100px;
}
.icon:hover {
  opacity: 50%;
}

#filter_options_display{
  display:none;
  background-color: orange;
  width:200px;
  height:200px;
}

h1{
  text-align: center;
}