h1 {
  text-align: center;
}

body {
  background-color: lightblue;
  font-family: monospace;
}

form {
  line-height: 30px;
  height: 80%;
  overflow: auto;
}

.create_profile_form{
  background-color: aliceblue;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}
.overlay {
  text-align: center;
  width: 80%;
  margin: 3% auto;
  padding-bottom: 10px;
  height: auto;
  background-color: white;
  border-radius: 40px;
  border: 5px black solid;
}

.text_box {
  width: 300px;
}

#header_pos {
  margin-left: 70px;
}

#profile_survey{
  /* display:none; */
  flex-direction: column;
}
#profile_design{
  /* display:none; */
  flex-direction: column;
}
